@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

/* @theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
} */
   
* {
   font-family: "Rubik", sans-serif;
}


/* chart */
.recharts-wrapper *,
.recharts-wrapper,
.recharts-surface,
svg {
  outline: none !important;
  box-shadow: none !important;
}

.recharts-wrapper:focus,
.recharts-wrapper:active,
.recharts-surface:focus,
.recharts-surface:active,
svg:focus,
svg:active {
  outline: none !important;
  box-shadow: none !important;
}


.btnHover:hover {

  background-color: transparent !important;
}
.btnHover {
  background-color: transparent !important;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

